@model Exercises.Models.Data.Student
@{
    ViewBag.Title = "Delete Student";
}

<h2>EditState</h2>
@using (Html.BeginForm(actionName: "Delete", controllerName: "Student", method: FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Address)
    @Html.HiddenFor(x => x.Courses)
    @Html.HiddenFor(x => x.FirstName)
    @Html.HiddenFor(x => x.LastName)
    @Html.HiddenFor(x => x.GPA)
    @Html.HiddenFor(x => x.Major)
    @Html.HiddenFor(x => x.StudentId)
    @Html.DisplayFor(x => x.FirstName)
    @Html.DisplayFor(x => x.LastName)
    @*<input type="text" name="StateName" id="StateName" value="" />
        <input type="text" name="StateAbbreviation" id="StateAbbreviation" value="@Model.StateAbbreviation" readonly/>*@
    <button id="deleteBtn" type="submit">Confirm Delete</button>}
@Html.ActionLink("Do Not Delete", "List", "Student")
@*<script>
        $(document).ready(function () {
            $("#StateAbbreviation").val(@Model.StateAbbreviation.ToString());
        })
    </script>*@