<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="flex-container border-mine" style="width: 100%;">
                <span><img src="~/Content/Pictures/logo.jpg" style="width:50px; height: 50px;" alt="logo" /></span>
                <span class="border-right">@Html.ActionLink("Home", "Index", "Home")</span>
                <span class="border-right">@Html.ActionLink("New Inventory", "New", "Inventory")</span>
                <span class="border-right">@Html.ActionLink("Used Inventory", "Used", "Inventory")</span>
                <span class="border-right">@Html.ActionLink("Specials", "Specials", "Home")</span>
                <span class="border-right">@Html.ActionLink("Contact", "Contact", "Home")</span>
                <span class="border-right">@Html.ActionLink("Sales", "Index", "Sales")</span>
                <span>@Html.ActionLink("Admin", "Vehicles", "Admin")</span>
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
