@model CarSiteSecond.ViewModels.CarViewModel
@{
    ViewBag.Title = "Details";
}

<h1>Vehicle Details</h1>
<div id="details-container">
    <div class="border-mine" style="padding:5px;">
        <table id="used-results-table" class="results-table" style="padding:15px;">
            <tr>
                <td class="bold left-text">@Model.Year @Model.Make @Model.Model</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="3"><img src="@Model.PictureSrc" /></td>
                <td class="bold right-text">Body Style:</td>
                <td class="left-text">@Model.BodyStyle</td>
                <td class="bold right-text">Interior:</td>
                <td class="left-text">@Model.Color</td>
                <td class="bold right-text">Sale Price:</td>
                <td class="left-text">@Model.SalePrice.ToString("C")</td>
            </tr>
            <tr>
                <td class="bold right-text">Trans:</td>
                <td class="left-text">@Model.Trans</td>
                <td class="bold right-text">Mileage:</td>
                <td class="left-text">
                    @if (Model.Mileage == 0)
                    {
                        @:New
                    }
                    else
                    {
                        @Model.Mileage.ToString()
                    }
                            </td>
                <td class="bold right-text">MSRP:</td>
                <td class="left-text">@Model.MSRP.ToString("C")
                </td>
            </tr>
            <tr>
                <td class="bold right-text">Color:</td>
                <td class="left-text">@Model.Color</td>
                <td class="bold right-text">Vin #:</td>
                <td class="left-text">@Model.VIN</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="right-text bold">Description:</td>
                <td colspan="5" class="left-text">@Model.Description</td>
            </tr>
            <tr>
                <td colspan="6"></td>
                <td><button type="button" class="contact-us" onclick="location.href='@Url.Action("Contact", "Home")'">Contact Us</button></td>
            </tr>
        </table>
    </div>
</div>

