@model CarSiteSecond.ViewModels.VehicleViewModel
@{
    ViewBag.Title = "AddVehicle";
}

<h1>AddVehicle</h1>
@using (Html.BeginForm())
{
    <div class="form-group">
        <table table style="width: 80%;">
            <tr>
                <td class="left-text bold">Make</td>
                <td class="left-text bold">Model</td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(p => p.Make,
                    new SelectList(Model.Make, "Makes"))
                </td>
                <td>
                    @Html.DropDownListFor(p => p.Model,
                    new SelectList(Model.Model, "Models"))
                </td>
            </tr>
            <tr>
                <td class="left-text bold">Type</td>
                <td class="left-text bold">Body Style</td>
            </tr>
            <tr>
                <td>
                    <select style="margin-left:0; width:100%;" id="Type" name="Type">
                        <option value="New">New</option>
                        <option value="Used">Used</option>
                    </select>
                </td>
                <td>
                    @Html.DropDownListFor(p => p.BodyStyle,
                    new SelectList(Model.BodyStyle, "BodyStyles"))
                </td>
            </tr>
            <tr>
                <td class="left-text body bold">Year</td>
                <td class="left-text body bold">Transmission</td>
            </tr>
            <tr>
                <td>
                    <input name="Year" style="margin-left:0; width:100%;" type="number" id="Year" value"" />
                </td>
                <td>
                    <select name="Transmission" style="margin-left:0; width:100%;" id="Transmission">
                        <option value="Automatic">Automatic</option>
                        <option value="Manual">Manual</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="left-text bold">Color</td>
                <td class="left-text bold">Interior</td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(p => p.Color,
                    new SelectList(Model.Color, "Colors"))
                </td>
                <td>
                    @Html.DropDownListFor(p => p.Interior,
                    new SelectList(Model.Interior, "Interiors"))
                </td>
            </tr>
            <tr>
                <td class="left-text bold">Mileage</td>
                <td class="left-text bold">VIN #</td>
            </tr>
            <tr>
                <td>
                    <input name="Mileage" style="margin-left:0; width:100%;" type="number" id="Mileage" value="" />
                </td>
                <td>
                    <input name="VIN" style="margin-left:0; width:100%;" type="text" id="VIN" value="" />
                </td>
            </tr>
            <tr>
                <td class="left-text bold">MSRP</td>
                <td class="left-text bold">Sale Price</td>
            </tr>
            <tr>
                <td>
                    <input name="MSRP" style="margin-left:0; width:100%;" type="number" id="MSRP" value="" />
                </td>
                <td>
                    <input name="SalePrice" style="margin-left:0; width:100%;" type="number" id="SalePrice" value="" />
                </td>
            </tr>
            <tr>
                <td class="left-text bold">Description</td>
            </tr>
            <tr>
                <td colspan="2"><textarea name="Description" cols="2000" rows="4" style="margin-left:0; width:100%;" id="Description"></textarea></td>
            </tr>
            <tr>
                <td class="left-text bold">Picture</td>
            </tr>
            <tr>
                <td>
                    @using (Html.BeginForm("Upload", "Admin", FormMethod.Post,
                        new { enctype = "multipart/form-data", id = "frmUpload" }))
                    {
                        <div class="form-group">
                            <label>Select File:</label>
                            @Html.TextBoxFor(m => m.UploadedFile,
                             new { type = "file", @class = "form-control" })
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
    <button type="submit">Save</button>
}
