@model CarSiteSecond.ViewModels.VehicleViewModel
@{
    ViewBag.Title = "EditVehicle";
}

<h1>EditVehicle</h1>

@using (Html.BeginForm("SaveEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmUpload" }))
{<input type="number" hidden readonly name="id" value="@Model.id" />
    <div class="form-group">
        <table table style="width: 80%;">
            <tr>
                <td class="left-text bold">Make</td>
                <td class="left-text bold">Model</td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(a => a.Make,
                    new SelectList(Model.Make, Model.MakeSelected))
                </td>
                <td>
                    @Html.DropDownListFor(b => b.Model,
                    new SelectList(Model.Model, Model.ModelSelected))
                </td>
            </tr>
            <tr>
                <td class="left-text bold">Type</td>
                <td class="left-text bold">Body Style</td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(kk => kk.Type,
                   new SelectList(Model.Type, Model.TypeSelected))
                </td>
                <td>
                    <select style="margin-left:0; width:100%;" id="BodyStyle" name="BodyStyle">
                        <option value="@Model.BodyStyle">@Model.BodyStyle</option>
                        @if (Model.BodyStyle == "Car")
                        {
                            <option value="SUV">SUV</option>
                            <option value="Truck">Truck</option>
                        }
                        @if (Model.BodyStyle == "SUV")
                        {
                            <option value="Car">Car</option>
                            <option value="Truck">Truck</option>
                        }
                        @if (Model.BodyStyle == "Truck")
                        {
                            <option value="SUV">SUV</option>
                            <option value="Car">Car</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="left-text body bold">Year</td>
                <td class="left-text body bold">Transmission</td>
            </tr>
            <tr>
                <td>
                    <input name="Year" style="margin-left:0; width:100%;" type="number" id="Year" value="@Model.Year" />
                </td>
                <td>
                    <select name="Transmission" style="margin-left:0; width:100%;" id="Transmission">
                        <option value="@Model.Transmission" selected>@Model.Transmission</option>
                        @if (Model.Transmission == "Automatic")
                        {
                            <option value="Manual">Manual</option>
                        }
                        @if (Model.Transmission == "Manual")
                        {
                            <option value="Automatic">Automatic</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="left-text bold">Color</td>
                <td class="left-text bold">Interior</td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(d => d.Color,
                    new SelectList(Model.Color, Model.ColorSelected))
                </td>
                <td>
                    @Html.DropDownListFor(d => d.Interior,
                    new SelectList(Model.Interior, Model.InteriorSelected))
                </td>
            </tr>
            <tr>
                <td class="left-text bold">Mileage</td>
                <td class="left-text bold">VIN #</td>
            </tr>
            <tr>
                <td>
                    <input name="Mileage" style="margin-left:0; width:100%;" type="number" id="Mileage" value="@Model.Mileage" />
                </td>
                <td>
                    <input name="VIN" style="margin-left:0; width:100%;" type="text" id="VIN" value="@Model.VIN" />
                </td>
            </tr>
            <tr>
                <td class="left-text bold">MSRP</td>
                <td class="left-text bold">Sale Price</td>
            </tr>
            <tr>
                <td>
                    <input name="MSRP" style="margin-left:0; width:100%;" type="number" id="MSRP" value="@Model.MSRP" />
                </td>
                <td>
                    <input name="SalePrice" style="margin-left:0; width:100%;" type="number" id="SalePrice" value="@Model.SalePrice" />
                </td>
            </tr>
            <tr>
                <td class="left-text bold">Description</td>
            </tr>
            <tr>
                <td colspan="2"><textarea name="Description" value="@Model.Description"></textarea></td>
            </tr>
            <tr>
                <td class="left-text bold">Picture</td>
            </tr>
            <tr>
                <td>
                    <img src="@Url.Content(Model.PictureSrc)"style="width:150px; height: auto;" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.UploadedFile,
                     new { type = "file", @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.CheckBoxFor(m => m.Featured)<span class="bold">Featured</span>
                </td>
            </tr>
        </table>
    </div>
    @Html.ActionLink("Delete", "Delete", "Admin", new { id = Model.id }, null)
    <button type="submit">Save</button>
}


