@model List<CarSiteSecond.ViewModels.InventoryViewModel>
@{
    ViewBag.Title = "InventoryReport";
}

<h2>Inventory Report</h2>
<br />
<h4>New Vehicles</h4>
<table id="newvehiclesresults" class="border-mine table table-striped">
    <thead>
        <tr style="background-color: lightgray;">
            <td>Year</td>
            <td>Make</td>
            <td>Model</td>
            <td>Count</td>
            <td>Stock Value</td>
        </tr>
    </thead>
    <tbody id="newvehiclesresultsbody">
        @foreach(CarSiteSecond.ViewModels.InventoryViewModel m in Model)
        {
            if(m.Year >= DateTime.Now.Year)
            {
                <tr>
                    <td>
                        @m.Year
                    </td>
                    <td>
                        @m.Make
                    </td>
                    <td>
                        @m.Model
                    </td>
                    <td>
                        @m.Count
                    </td>
                    <td>
                        @m.StockValue.ToString("C")
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<h4>Used Vehicles</h4>
<table id="usedvehicleresults" class="border-mine table table-striped">
    <thead>
        <tr style="background-color: lightgray;">
            <td>Year</td>
            <td>Make</td>
            <td>Model</td>
            <td>Count</td>
            <td>Stock Value</td>
        </tr>
    </thead>
    <tbody id="usedvehicleresultsbody">
        @foreach (CarSiteSecond.ViewModels.InventoryViewModel m in Model)
        {
            if (m.Year < DateTime.Now.Year)
            {
                <tr>
                    <td>
                        @m.Year
                    </td>
                    <td>
                        @m.Make
                    </td>
                    <td>
                        @m.Model
                    </td>
                    <td>
                        @m.Count
                    </td>
                    <td>
                        @m.StockValue.ToString("C")
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
