@model List<CarSiteSecond.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Users";
}

<h1>Users</h1>
@Html.ActionLink("Add a new User", "AddUser", "Admin")
<table id="users" class="border-mine table table-striped">
    <thead>
        <tr style="background-color: lightgray;">
            <td>Last Name</td>
            <td>First Name</td>
            <td>Email</td>
            <td>Role</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach(CarSiteSecond.ViewModels.UserViewModel m in Model)
        {
            <tr>@m.LastName</tr>
            <tr>@m.FirstName</tr>
            <tr>@m.Email</tr>
            <tr>@m.Role</tr>
            <tr>@Url.Action("edit", "EditUser", "Admin", m.id)</tr>
        }
    </tbody>
</table>

